@using TEST.VievModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<PersonPetVM>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.css" />

    <title>Document</title>
</head>
<body>
    <table class="display" id="myTable">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model=>model.PersonBirthDate)</th>
                <th>@Html.DisplayNameFor(model=>model.PersonGender)</th>
                <th>@Html.DisplayNameFor(model=>model.PersonName)</th>
                <th>@Html.DisplayNameFor(model=>model.PersonSurname)</th>
                <th>@Html.DisplayNameFor(model=>model.PetAge)</th>
                <th>@Html.DisplayNameFor(model=>model.PetGender)</th>
                <th>@Html.DisplayNameFor(model=>model.PetName)</th>
                <th>@Html.DisplayNameFor(model=>model.PetNumberOfFeet)</th>
                <th>@Html.DisplayNameFor(model=>model.PetNutritionType)</th>
                <th>@Html.DisplayNameFor(model=>model.PetType)</th>
                <th>@Html.DisplayNameFor(model=>model.PetWeight)</th>

            </tr>
        </thead>
        <tbody>
            
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.PersonBirthDate</td>
                        <td>@item.PersonGender</td>
                        <td>@item.PersonName</td>
                        <td>@item.PersonSurname</td>
                        <td>@item.PetAge</td>
                        <td>@item.PetGender</td>
                        <td>@item.PetName</td>
                        <td>@item.PetNumberOfFeet</td>
                        <td>@item.PetNutritionType</td>
                        <td>@item.PetType</td>
                        <td>@item.PetWeight</td>


                    </tr>
                }
            }

        </tbody>

    </table>
    
</body>

</html>



